// Colors
$first-color: #5a3921;
$second-color: #506636;
$third-color: #7bc67b;
$fourth-color: #ffffd1;

$light-color: white;

// Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 2rem;
